<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset="utf-8" />
        <title>Wine Locator | <%= title %></title>
        <link rel = "stylesheet" href = "styles.css">
        <script src = "scripts/loadadd.js"></script>
    </head>
    <body>
        <a href = "home">Home</a>
        <h1 class = "header">
            Here's what we found:
        </h1>
        <div id ="list" class = "list">
        </div>
    </body>