<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset="utf-8" />
        <title>Wine Locator | <%= title %></title>
    </head>
    <nav>
        <a href = "home">Home</a>
        <a href = "wines">Wines</a>
    </nav>
    <h1> 
        Welcome to the beer aisle! (haba adjacent)
    </h1>