<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset="utf-8" />
        <title>Wine Locator | <%= title %></title>
        <link rel = "stylesheet" href = "styles.css">
        <script src = "scripts/loadbeer.js"></script>
    </head>
    <body>
    <nav>
        <a href = "home">Home</a>
        <a href = "wines">Wines</a>
    </nav>
    <h1> 
        Welcome to the beer aisle! (Bakery <-------> Bridge)
    </h1>
    <div class = "grid-container-beer">
        <div class = "grid-item">
            <div class = "shelf-title">IPAs</div>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "55">Shelf 1<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "56">Shelf 2<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "57">Shelf 3<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "58">Shelf 4<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "59">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item">
            <div class = "shelf-title">Ales and Seltzers</div>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "60">Shelf 1<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "61">Shelf 2<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "62">Shelf 3<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "63">Shelf 4<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "64">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item">
            <div class = "shelf-title">Lagers</div>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "65">Shelf 1<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "66">Shelf 2<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "67">Shelf 3<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "68">Shelf 4<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "69">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item">
            <div class = "shelf-title">Assorted Wines</div>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "70">Shelf 1<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "71">Shelf 2<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "72">Shelf 3<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "73">Shelf 4<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "74">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item">
            <div class = "shelf-title">Sparkling Wines</div>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "75">Shelf 1<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "76">Shelf 2<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "77">Shelf 3<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "78">Shelf 4<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "79">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item">
            <div class = "shelf-title">Kosher and Box Wines</div>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "80">Shelf 1<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "81">Shelf 2<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "82">Shelf 3<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "83">Shelf 4<br></button></form>
            <form action = "/beer" method = "post"><button type ="submit" class = "beershelf shelf" name = "num" value = "84">Shelf 5<br></button></form>
        </div>
    </body>