<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset="utf-8" />
        <title>Wine Locator | <%= title %></title>
        <link rel = "stylesheet" href = "styles.css">
    </head>
    <body>
        <a href = "home">Home</a>
        <h1>Help Page</h1>
        <p>Thanks for using the wine locator app!</p>
        <p>This project was born out of the frustration of not being able to find anything in store 780's (relatively small) wine section.</p>
        <p>To search an item, enter a sku or product name in the appropriate box of the home section and click search.</p>
        <p>If you enter a sku, the program will return the result immediately. If you entered a product name, the program will load a list of possible products that contain the string you entered. Click on the product you meant to recieve the results.</p>
        <p>For name search, less is more! If you don't find what you're looking for, try entering in fewer characters to get more results.</p>
        <p>If the item you searched for is not on the shelf, the program will return you to the home screen. If it is, you will be sent to the appropriate shelf page with the item highlighted in red. Each shelf is clickable and will load a shelf view page with each item on the shelf, including its name and price.</p>
        <p>Things in the wine section (and everywhere else) move around frequently. You can modify the shelves in this program from the shelf view by clicking the delete buttons attached to each item or submitting the add product form after entering in the sku/name and where you want the item on the shelf.</p>
        <p>Go ahead and give it a try by returning to the home page!</p>
    </body>