<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset="utf-8" />
        <title>Wine Locator | <%= title %></title>
        <link rel = "stylesheet" href = "styles.css">
        <script src = "scripts/main.js"></script>
    </head>
<body>
    <a href = "wines">Wines</a>
    <a href = "beers">Beers</a>
    <h1> 
        Welcome to the wine locator app!
    </h1>
    <h2>
        Enter a SKU or product name:
    </h2>
    <form action ='/home' method = "POST">
        SKU: <br> <input type = "text" id = "sku" name = "SKU"> <input type = "submit" id = "skuButton" value = "Search"> <br> <br>
    </form>
    <form action ='/home' method = "POST">Product Name: <br> <input type = "text" id = "pname" name = "pname"> <input type = "submit" id = "nameButton" value = "Search"><br> <br> </form>
    <h3>
        Or,
    </h3>
    <a href = "wines">
        <button class = "button1">
            Browse/Manage the shelves
        </button>
    </a>
    <h4>
        Need help?
    </h4>
    <a href = "help">
        <button class = "button2">
            Click here for instructions
        </button>
    </a>
</body>