<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset="utf-8" />
        <title>Wine Locator | <%= title %></title>
    </head>
<body>
    <a href = "wines">Wines</a>
    <a href = "beers">Beers</a>
    <h1> 
        Welcome to the wine locator app!
    </h1>
    <h2>
        Enter a SKU or product name:
    </h2>
    <form>
        SKU: <br> <input type = "text" id = "sku" name = "SKU"> <input type = "button" id = "skuButton" value = Search> <br> <br>
        Product Name: <br> <input type = "text" id = "pname" name = "product name"> <input type = "button" id = "nameButton" value = "Search">  <br> <br>  
    </form>
    <h3>
        Or,
    </h3>
    <a href = "wines.html">
        <button class = "button">
            Browse/Manage the shelves
        </button>
    </a>
</body>