<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset="utf-8" />
        <title>Wine Locator | <%= title %></title>
        <link rel = "stylesheet" href = "styles.css">
    </head>
    <h1> 
        Shelf View
    </h1>
    <div class = "bigshelf">

    </div>