<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset="utf-8" />
        <title>Wine Locator | <%= title %></title>
        <link rel = "stylesheet" href = "styles.css">
    </head>
    <h1> 
        Shelf View
    </h1>
    <div class = "bigshelf">
        <div class = "product">
            <div class = "bottle">
                blah
            </div>
            <div class = "name">
                Very Fancy Wine
                <div class = "price">
                    $89.99
                </div>
            </div>
        </div>
    </div>