<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset="utf-8" />
        <title>Wine Locator | <%= title %></title>
        <link rel = "stylesheet" href = "styles.css">
        <script src = "scripts/loadshelf.js"></script>
    </head>
    <h1> 
        Shelf View
    </h1>
    <div class = "bigshelf" id = "bigshelf">
    </div>