<!DOCTYPE html>
<html lang = "en-US">
    <%- include('./partials/head.ejs')%>
    <a href = "home">Home</a>
    <a href = "beers">Beers</a>
    <h1> 
        Welcome to the wine aisle! (bakery adjacent)
    </h1>

    <div class = "grid-container">
        <div class = "grid-item" id = "pinot-noirs">
            <div class = "shelf-title">Pinot Noirs</div>
            <div class = "shelf">Shelf 1</div>
            <div class = "shelf">Shelf 2</div>
            <div class = "shelf">Shelf 3</div>
            <div class = "shelf">Shelf 4</div>
            <div class = "shelf">Shelf 5</div>
        </div>
        <div class = "grid-item" id = "cabs">
            <div class = "shelf-title">Placeholder</div>
            <div class = "shelf">Shelf 1</div>
            <div class = "shelf">Shelf 2</div>
            <div class = "shelf">Shelf 3</div>
            <div class = "shelf">Shelf 4</div>
            <div class = "shelf">Shelf 5</div>
        </div>
        <div class = "grid-item" id = "1">
            <div class = "shelf-title">Placeholder</div>
            <div class = "shelf">Shelf 1</div>
            <div class = "shelf">Shelf 2</div>
            <div class = "shelf">Shelf 3</div>
            <div class = "shelf">Shelf 4</div>
            <div class = "shelf">Shelf 5</div>
        </div>
        <div class = "grid-item" id = "2">
            <div class = "shelf-title">Placeholder</div>
            <div class = "shelf">Shelf 1</div>
            <div class = "shelf">Shelf 2</div>
            <div class = "shelf">Shelf 3</div>
            <div class = "shelf">Shelf 4</div>
            <div class = "shelf">Shelf 5</div>
        </div>
        <div class = "grid-item" id = "3">
            <div class = "shelf-title">Placeholder</div>
            <div class = "shelf">Shelf 1</div>
            <div class = "shelf">Shelf 2</div>
            <div class = "shelf">Shelf 3</div>
            <div class = "shelf">Shelf 4</div>
            <div class = "shelf">Shelf 5</div>
        </div>
        <div class = "grid-item" id = "4">
            <div class = "shelf-title">Placeholder</div>
            <div class = "shelf">Shelf 1</div>
            <div class = "shelf">Shelf 2</div>
            <div class = "shelf">Shelf 3</div>
            <div class = "shelf">Shelf 4</div>
            <div class = "shelf">Shelf 5</div>
        </div>
        <div class = "grid-item" id = "5">
            <div class = "shelf-title">Placeholder</div>
            <div class = "shelf">Shelf 1</div>
            <div class = "shelf">Shelf 2</div>
            <div class = "shelf">Shelf 3</div>
            <div class = "shelf">Shelf 4</div>
            <div class = "shelf">Shelf 5</div>
        </div>
        </div>
    </div>