<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset="utf-8" />
        <title>Wine Locator | <%= title %></title>
        <link rel = "stylesheet" href = "styles.css">
        <script src = "scripts/loadwine.js"></script>
    </head>
    <a href = "home">Home</a>
    <a href = "beers">Beers</a>
    <h1> 
        Welcome to the wine aisle! (bakery adjacent)
    </h1>

    <div class = "grid-container-wine">
        <div class = "grid-item" id = "pinot-noirs">
            <div class = "shelf-title">Pinot Noirs</div>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "0">Shelf 1<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "1">Shelf 2<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "2">Shelf 3<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "3">Shelf 4<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "4">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item" id = "cabs">
            <div class = "shelf-title">Placeholder</div>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "5">Shelf 1<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "6">Shelf 2<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "7">Shelf 3<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "8">Shelf 4<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "9">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item" id = "1">
            <div class = "shelf-title">Placeholder</div>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "10">Shelf 1<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "11">Shelf 2<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "12">Shelf 3<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "13">Shelf 4<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "14">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item" id = "2">
            <div class = "shelf-title">Placeholder</div>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "15">Shelf 1<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "16">Shelf 2<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "17">Shelf 3<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "18">Shelf 4<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "19">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item" id = "3">
            <div class = "shelf-title">Placeholder</div>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "20">Shelf 1<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "21">Shelf 2<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "22">Shelf 3<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "23">Shelf 4<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "24">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item" id = "4">
            <div class = "shelf-title">Placeholder</div>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "25">Shelf 1<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "26">Shelf 2<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "27">Shelf 3<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "28">Shelf 4<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "29">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item" id = "5">
            <div class = "shelf-title">Placeholder</div>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "30">Shelf 1<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "31">Shelf 2<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "32">Shelf 3<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "33">Shelf 4<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "34">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item" id = "6">
            <div class = "shelf-title">Placeholder</div>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "35">Shelf 1<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "36">Shelf 2<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "37">Shelf 3<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "38">Shelf 4<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "39">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item" id = "7">
            <div class = "shelf-title">Placeholder</div>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "40">Shelf 1<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "41">Shelf 2<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "42">Shelf 3<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "43">Shelf 4<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "44">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item" id = "8">
            <div class = "shelf-title">Placeholder</div>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "45">Shelf 1<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "46">Shelf 2<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "47">Shelf 3<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "48">Shelf 4<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "49">Shelf 5<br></button></form>
        </div>
        <div class = "grid-item" id = "shaws">
            <div class = "shelf-title">Charles Shaw</div>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "50">Shelf 1<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "51">Shelf 2<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "52">Shelf 3<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "53">Shelf 4<br></button></form>
            <form action = "/wine" method = "post"><button type ="submit" class = "wineshelf shelf" name = "num" value = "54">Shelf 5<br></button></form>
        </div>
        </div>
    </div>