
h1 {
    text-align: center;
}

h1, h3, h4 {
    font-size: 30px;
}

.button1 {
    border-radius: 8px;
    background-color: lightblue;
}

.button2 {
    border-radius: 8px;
    background-color: lightcoral;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.shelf-title {
    padding: 10px;
    text-align: center;
}
.shelf {
    border: 1px solid black;
    text-align: center;
    align-self: center;
    height: 100px;
    width: 138px;
}
.form {
    width: 100%;
    height: 100%;
}

.bigshelf {
    display: flex;
    border: 2px solid black;
    height: 600px;
}

.bottle {
    height: 360px;
    width: 306px;
    background-image: url('images/bottle.jpg');
    padding-bottom: 40px;
}

.name {
    text-align: center;
    height: 224px;
    background-image: url('images/sign.png')
}

.price {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 20px black;
    background-color: white;
    text-align: center;
}
.product {
    display: flex;
    flex-direction: column;
}

.shelf:hover {
    background-color: green;
}

.item {
    display: inline-block;
    margin-right: 2px;
    font-size: 15px;
}
.marked {
    background-color: red;
}

