/* HOME PAGE STYLES */
h1 {
    text-align: center;
}

h1, h3, h4 {
    font-size: 30px;
}

.button1 {
    border-radius: 8px;
    background-color: lightcoral;
}

.button2 {
    border-radius: 8px;
    background-color: lightblue;
}

.addbutton {
    margin-left: 20px;
    margin-top: 150px;
    margin-right: 20px;
}

/* GRID STYLES */
.grid-container-wine {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.grid-container-beer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.shelf-title {
    padding: 10px;
    text-align: center;
}

.shelf {
    border: 1px solid black;
    text-align: center;
    align-self: center;
    height: 100px;
    width: 138px;
}
.form {
    width: 100%;
    height: 100%;
}

.shelf:hover {
    background-color: green;
}

.item {
    display: inline-block;
    margin-right: 2px;
    font-size: 10px;
}

.marked {
    background-color: red;
}

/* SHELF STYLES */
.bigshelf {
    display: flex;
    border: 2px solid black;
}

.bottle {
    height: 360px;
    width: 306px;
    background-image: url('images/bottle.jpg');
    padding-bottom: 15px;
}

.can {
    height: 315px;
    width: 306px;
    background-image: url('images/can.jpg');
    padding-bottom: 15px;
}

.tag {
    border: 3px  solid black;
    display: flex;
    text-align: center;
    height: 113px;
    background-image: url('images/sign.png');
    padding-right: 30px;
}

.name {
    padding-left: 15px;
}

.price {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    text-align: center;
    margin-left: 30px;
}
.product {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-top: 35px;
}