/* HOME PAGE STYLES */
h1 {
    text-align: center;
}

h1, h3, h4 {
    font-size: 30px;
}

.button1 {
    border-radius: 8px;
    background-color: lightcoral;
}

.button2 {
    border-radius: 8px;
    background-color: lightblue;
}

/* GRID STYLES */
.grid-container-wine {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.grid-container-beer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.shelf-title {
    padding: 10px;
    text-align: center;
}

.wineshelf {
    border: 1px solid black;
    text-align: center;
    align-self: center;
    height: 100px;
    width: 140px;
}

.beershelf {
    border: 1px solid black;
    text-align: center;
    align-self: center;
    height: 100px;
    width: 255px;
}

.form {
    width: 100%;
    height: 100%;
}

.shelf:hover {
    background-color: green;
}

.item {
    display: inline-block;
    margin-right: 2px;
    font-size: 10px;
}

.marked {
    background-color: red;
}

/* SHELF STYLES */
.bigshelf {
    display: flex;
    border: 3px solid black;
    width: 1476px;
    height: 280px;
}

.bottle {
    align-self: center;
    height: 180px;
    width: 153px;
    background-image: url('images/bottle.jpg');
    padding-bottom: 15px;
}

.can {
    align-self: center;
    height: 150px;
    width: 153px;
    background-image: url('images/can.jpg');
    padding-bottom: 15px;
}

.tag {
    border-top: 3px solid black;
    font-size: 12px;
    display: flex;
    text-align: center;
    height: 113px;
    width: 153px;
    background-image: url('images/sign.png');
    padding-right: 30px;
}

.price {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    text-align: center;
    margin-top: 5px;
    margin-left: 25px;
}
.product {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 35px;
}

.addbutton {
    position: absolute;
    bottom: 50px;
    right: 50%;
}

.deletebutton {
    margin-right: 0;
    background-color: red;
    float: right;
}

.deletebutton:hover {
    color: white;
}